* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}


.logo_img {
    width: 430px;
    height: 370px;
    margin-left: 125px;
    display: inline-block;
    box-shadow: 5px 21px 30px rgba(13, 227, 255, 0.5);
    border-radius: 90px;
    animation: flutuar 3s ease-in-out infinite;
    }

    @keyframes flutuar {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
}

header {

    text-transform: capitalize;
    margin: 44px 0 144px 76px;





}

.link-header {
    font-weight: 600;
    Size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;

}

.log_in {
    width: 60px;
    cursor: pointer;
    width: 130px;
    height: 41px;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: #655ae0;
    color: white;
    font-weight: 600;
    line-height: 29.26px;
    size: 24px;
    border: none;
}

.explore {
    width: 120px;
    line-height: 34px;
    border-radius: 20.5px;
    background-color: #ADFF00;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.we_care {
    font-weight: 900;
    font-size: 100px;
    line-height: 120px;
    color: #515151;
    text-transform: uppercase;


}

.about {
    font-weight: 500;
    font-size: 58px;
    line-height: 70.7px;
    color: #515151;
    text-transform: capitalize;


}

.txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    width: 700px;
    color: #515151;
    margin-top: 20px;
    margin-bottom: 20px;



}

section {
    display: inline-block;



}


.texto {
    display: inline-block;
    padding-left: 30px;


}

.explore:hover {
    background-color: #c2ff3f;
    box-shadow: 10px 10px 30px rgba(13, 227, 255, 0.6);
    width: 220px;
    transition: ease-in-out 0.8s;



}

@media screen and (max-width: 660px) {
    #head {
        display: none;
    }



    .logo_img {
        width: 354px;
        height: 354px;
        margin: 0px 5%;


    }


    .txt {
        display: none;


    }

    .we_care {
        font-size: 35px;
        margin: 0 5px;
        width: 100%;
        height: 90px;
        word-spacing: 5px;
    }


    .about {
        font-size: 22px;
        margin: 2px 10px;
        height: 30px;
        line-height: 10px;

    }

    .explore {
        margin: 1px 0px 0px 0px;
        width: 200px;
        height: 50px;


    }


    .texto {

        margin: 0px 0px 0px 40%;
        padding: 0%;
        width: 100%;


    }


    section {
        align-items: center;
        width: 60%;
    }

    body {
        position: static;
        margin: 0px 15px;
    }

}